body{
    height:100%;
    color:#000;
    box-sizing: border-box;
    font-family: sans-serif;
}


header{
    width: 80%;
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 15px;
    float:left;
}

section{
    clear:both;
}

h3{
    float:left;
}

ul li{
    list-style: none;
    margin-top:5px;
    margin-left: 30px;
    padding: 0px;
    float:left;
}

a{
    text-decoration: none;
    color:black;
}

a:visited{
    color:black;
}

a:link{
    color:black;
}
/*//////taglist/////////*/

.tag_menu{
    height: 100px;
    float: left;
    min-width: 100px;

}

.tag_menu div{
    border-left: 3px solid gray;
    padding-left: 3px;
    margin-bottom: 10px;
}

#tag_list{
    width: 80%;
    margin-left:20%;
    margin-right:20%;
    min-width: 600px;  
}   

.l_title{
    font-weight: bold;
    margin-top: 40px;
}

#tag_list div{
    position:relative;
    font-size: small;
    margin-bottom: 10px;
    width: 700px;
}

.date{
    position:absolute;
    right:0;
    padding-right:0;
    color:gray;
    
}

.l_title:after{
    font-weight: lighter;
    font-size:small;
    display:inline-block;
    margin: 0 0px 3px;
    height:1px;
    width:100%;
    content:" ";
    text-shadow:none;
    background-color:lightgray;
    overflow: hidden;
}

.content{
    font-size: small;
    margin-top: 15px;
    line-height: 150%;
}

