*{
    font-family: 'Arial';
}
body{
    height:100%;
    width:100%;
    color:#000;
    box-sizing: border-box;
    font-family: sans-serif;
    min-width: 600px;
}

a{
    text-decoration: none;
}

a:visited{
    color:black;
}

a:link{
    color:black;
}


header{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    width: 100%;
    margin-left: 40px;
}

section{
    clear:both;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
}

h3{
    margin-top: 15px;
    white-space: nowrap;
    font-size: small;
}

ul{
    display: flex;
    flex-direction: row;
}

ul li{
    list-style: none;
    margin-top:5px;
    margin-left: 20px;
    padding: 0px;
    cursor:pointer;
    font-size: small;
}


/*//////taglist/////////*/

#tag_menu{
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    min-width: 100px;
    margin-top: 17px;
    margin-left: 40px;
}

#tag_menu div{
    border-left: 3px solid gray;
    padding-left: 3px;
    margin-bottom: 10px;
}

#tag_menu button{
    background-color : #EEEEEE;
    border:none;
    color: gray;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-size: small;
    margin-bottom: 5px;
    text-align: left;
    cursor:pointer;
}

.tag_list{
    display: inline-flex;
    flex-direction: column;
    width: 700px;
    margin-left: 40px;
   
}   

.l_title{
    font-weight: bold;
    margin-top: 10px;
}

.tag_list div{
    display: flex;
    flex-wrap:nowrap;
    font-size: small;
}

.l_subtitle{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}


#date{
    color:gray;
}
/*
.l_title:after{
    font-weight: lighter;
    font-size:small;
    display:inline-block;
    margin: 0 0px 3px;
    height:1px;
    width:100%;
    content:" ";
    text-shadow:none;
    background-color:lightgray;
    overflow: hidden;
}*/

hr{
    display: block;
    width: 700px;
}

#tag_list .content{
    font-size: small;
    line-height: 160%;
    display: block;
}

p{
    font-size: small;
}

.content code{
    background-color:#F5F5F5F5; 
    display:block;
    padding-top: 5px;
    margin-top: 10px;
}

.h{
    font-weight: bold;
    font-size: large;
}

.l{
    margin-left: 10px;
}

img{
    width: 500px;
    border: 4px solid lightgray;
}

