*{
    font-family: 'Arial';
}
body{
    height:100%;
    width:100%;
    color:#000;
    box-sizing: border-box;
    font-family: sans-serif;
    min-width: 600px;
}

a{
    text-decoration: none;
}

a:visited{
    color:black;
}

a:link{
    color:black;
}


a:hover{
    font-weight:600;
    color:gray;
}

header{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    width: 100%;
    margin-left: 40px;
}

section{
    clear:both;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
}

h3{
    margin-top: 15px;
    font-size: small;
}

ul{
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
}

ul li{
    list-style: none;
    margin-top:5px;
    margin-left: 20px;
    padding: 0px;
    cursor:pointer;
    font-size: small;
}


/*//////taglist/////////*/

#tag_menu{
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    min-width: 100px;
    margin-top: 17px;
    margin-left: 40px;
}

#tag_menu div{
    border-left: 3px solid gray;
    padding-left: 3px;
    margin-bottom: 10px;
}

#tag_menu button{
    background-color : #EEEEEE;
    border:none;
    color: gray;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-size: small;
    margin-bottom: 5px;
    text-align: left;
    cursor:pointer;
}

#tag_list{
    display: inline-flex;
    flex-direction: column;
    width: 700px;
    margin-left: 40px; 
}   

.l_title{
    font-weight: bold;
    margin-top: 10px;
}

#tag_list div{
    display: flex;
    flex-wrap:nowrap;
    font-size: small;
}

.l_subtitle{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}


.date{
    color:gray;
}
/*
.l_title:after{
    font-weight: lighter;
    font-size:small;
    display:inline-block;
    margin: 0 0px 3px;
    height:1px;
    width:100%;
    content:" ";
    text-shadow:none;
    background-color:lightgray;
    overflow: hidden;
}*/

hr{
    display: block;
    width: 700px;
}

#tag_list .content{
    font-size: small;
    line-height: 160%;
    display: block;
}

p{
    font-size: small;
}

.content code{
    background-color:#F5F5F5F5; 
    display:block;
    padding-top: 5px;
    margin-top: 10px;
}

.h{
    font-weight: bold;
    font-size: large;
}

.l{
    margin-left: 10px;
}

img .os{
    width: 80%;
    border: 4px solid lightgray;
}

img{
    width: 80%;
}

pre{
    white-space: pre-wrap;
}

code{
    padding: 10px 20px;
}

@media all and (max-width: 480px){
    body{
        width : 100%;
        height:100%;
        margin-left: 0px;
        min-width: 0px;
        padding: 0 3px;
        overflow-x: hidden;
    }

    html {
        overflow-x: hidden;
    }

    hr{
        display: block;
        width: 98%;
    }

    section{
        clear:both;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0px;
    }

    h3{
        font-size: 11px;
    }

    header{
        display: flex;
        width: 99%;
        margin-top: 15px;
        margin-left:20px;
        flex-wrap: nowrap;
        box-sizing: content-box;
        max-width: 350px;
    }
    ul{
        padding-left: 20px;
    }

    ul li{
        margin-top: 7px;
        margin-left: 0px;
        margin-right:10px;
        font-size: 11.5px;
    }


    #tag_menu{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-left: 20px;
        margin-top:0px;
        margin-bottom : 10px;
        height: 30px;
        overflow-x: scroll;
    }

    #tag_menu button{
        background-color : #EEEEEE;
        border:none;
        color: gray;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-size: small;
        margin-bottom: 10px;
        margin-right: 15px;
        padding: 0 20px;
        text-align: left;
        cursor:pointer;
        border-radius: 12px;
        font-size: x-small;
        white-space: nowrap;
    }

    #tag_menu button::-webkit-scrollbar{
        display : none;
    }


    #tag_list{
        display: flex;
        flex-direction: column;
        width:90%;
        margin-left: 20px;
        flex-shrink: 1;
    } 

    #tag_list div{
        display: flex;
        flex-wrap:wrap;
        font-size: small;
    }
    
    .l_subtitle{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-bottom: 11px;
        flex-shrink: 1;
        width: 98%;
    }

    #tag_list .date{
        display: none;
    }

    #date_2{
        display: flex;
        font-weight: 100;
        color: lightgray;
    }

    .l_subtitle #date{
        font-size: x-small;
        margin-top: 3px;
    }

    #tag_list .content{
        font-size: small;
        line-height: 170%;
        display: block;
        white-space: normal;
    }
    img{
        width: 99%;
    }

    pre{
        white-space: pre-wrap;
    }
    code{
        padding: 10px 20px;
    }

}